build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.2/CMakeSystem.cmake
build/CMakeFiles/3.28.2/CompilerIdCXX/a.out
build/CMakeFiles/3.28.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/mcpelaunchershadersmod.dir/build.make
build/CMakeFiles/mcpelaunchershadersmod.dir/cmake_clean.cmake
build/CMakeFiles/mcpelaunchershadersmod.dir/compiler_depend.make
build/CMakeFiles/mcpelaunchershadersmod.dir/compiler_depend.ts
build/CMakeFiles/mcpelaunchershadersmod.dir/depend.make
build/CMakeFiles/mcpelaunchershadersmod.dir/DependInfo.cmake
build/CMakeFiles/mcpelaunchershadersmod.dir/flags.make
build/CMakeFiles/mcpelaunchershadersmod.dir/link.txt
build/CMakeFiles/mcpelaunchershadersmod.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.28.2/CMakeCXXCompiler.cmake
CMakeFiles/3.28.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.28.2/CMakeSystem.cmake
CMakeFiles/3.28.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.28.2/CompilerIdCXX/CMakeCXXCompilerId.o
CMakeFiles/mcpelaunchershadersmod.dir/build.make
CMakeFiles/mcpelaunchershadersmod.dir/cmake_clean.cmake
CMakeFiles/mcpelaunchershadersmod.dir/compiler_depend.internal
CMakeFiles/mcpelaunchershadersmod.dir/compiler_depend.make
CMakeFiles/mcpelaunchershadersmod.dir/compiler_depend.ts
CMakeFiles/mcpelaunchershadersmod.dir/depend.make
CMakeFiles/mcpelaunchershadersmod.dir/DependInfo.cmake
CMakeFiles/mcpelaunchershadersmod.dir/flags.make
CMakeFiles/mcpelaunchershadersmod.dir/link.txt
CMakeFiles/mcpelaunchershadersmod.dir/progress.make
CMakeFiles/mcpelaunchershadersmod.dir/src/main.cpp.o
CMakeFiles/mcpelaunchershadersmod.dir/src/main.cpp.o.d
json/allocator.h
json/assertions.h
json/config.h
json/forwards.h
json/json
json/json_features.h
json/json.h
json/reader.h
json/value.h
json/version.h
json/writer.h
cmake_install.cmake
CMakeCache.txt
GameLog.txt
main_original.cpp
Makefile
.cache/clangd/index/main.cpp.740C63F065EBB463.idx
